.zen-button {
    border-radius: 15px;
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: white;
    color: red;
    border-style: inset;
    border-color: red;
    padding: 5px;
    cursor: pointer;
}

.zen-button-success {
    border-radius: 15px;
    position: absolute;
    top: 10px;
    right: 320px;
    background-color: white;
    color: red;
    border-style: inset;
    border-color: red;
    padding: 5px;
    cursor: pointer;
}


.zen-button-incomplete {
    border-radius: 15px;
    position: absolute;
    top: 10px;
    right: 520px;
    background-color: white;
    color: red;
    border-style: inset;
    border-color: red;
    padding: 5px;
    cursor: pointer;
}

.notzen {
    color: green;
    border-style: inset;
    border-color: green;
}

tr[role="row"] {
    transition-property: visibility opacity;
    transition-duration: 1s;
}

.hidden {
    visibility: collapse;
    opacity: 0;
}